body {
    background-color: white;
}
body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "small"
    "medium"
    "large";
}
#small {
    grid-area: small;
    border-style: solid;
}

#medium {
    grid-area: medium;
    border-style: solid;
}

#large {
    grid-area: large;
    border-style: solid;
}

@media screen and (max-width: 300px)
{
    body {
        background-color: red;
    }
    body {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
        "small"
        "medium"
        "large";
        }
}

@media screen and (max-width: 768px) and (min-width: 300px)
{
    body {
        background-color: green;
    }
    body {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 66% 33% 100%;
        grid-template-areas: 
        "small"
        "medium"
        "large";
    }
}

@media screen and (min-width: 768px)
{
    body {
        background-color: blue;
    }
    body {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
        "small medium large";
    }
}